.bg_login{
   /* border: 1px solid red; */
   text-align: center;
}
.c_login_bg{
    width:100%;
    height: 100%; 
     background: url(../img/bg_reg.jpg) no-repeat;
      background-size: 100% 100%;
}
.login_logo{
    display: block;
    margin-bottom: 20px; 
   text-align: center;
   padding-top: 90px;
}
/*login-register是 login 和 register部分公共部分 */
.login-register{
    width: 370px;  
    background: #fff;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
}
.login-register input[type="text"]:focus,.login input[type="password"]:focus{
    border: 1px solid #f08b1d;
    box-shadow: 0 0 5px #f9c00a;
    transition: box-shadow .25s linear 0s;
    -webkit-transition: box-shadow 0.25s linear 0s;
}
.login{
    height: 262px;
    /* display: none; */
}
.register{
    display: none;
    padding-bottom: 20px;
    margin: 0 auto;
}
.login a {
    display: block;
    font-size: 12px;
    color: #f08b1d;
    padding-right: 30px;
    text-align: right;
    margin-top: 5px;
}
 .login, .reg , .login_reg{
    margin: 0 auto;  
    text-align: center;
}
.reg{   
    font-size: small;
    margin-top: 10px;   
}
.reg .login-to-register em, .reg .register-to-login em{
    color: #fff;
    font-weight: bold;
}
.reg .login-to-register , .reg .register-to-login {
    color: #ffa800;
    padding: 3px 8px;
    background: rgba(0, 0, 0, .4);
    border-radius: 20px;
    cursor: pointer;
    font-style: normal;
}
.login input,.register input[type="text"],.register input[type='button']{   
    width:306px;
    height: 36px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #666;
    font-size: 14px;
    line-height: 36px; padding-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}
.login_reg{
    width:306px;
    height:26px; 
    line-height: 30px;
    visibility: hidden;text-align: left; 
}
.login_reg i{
    display: inline-block;
    width: 14px;
    height:14px; 
    background: url(../img/icon_posts.png) no-repeat;
    background-position: -170px -55px; 
    vertical-align: middle;
}
.login_reg span{
    color: #e94715;
    font-size: 12px; 
   padding-left: 2px;
}
.login input[type="button"],.register input[type="button"],.reg_finish input[type="submit"]{
    background-color: #e94715;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}
 .agreement{
    font-size: 12px;
    text-align: right;
    /* border: 1px solid yellow; */
    color: #ccc;
    line-height: 100%;
    vertical-align: middle; 
    margin-top: 28px;
    padding-right: 30px;
    /* height: 30px;  */
    /* line-height: 30px;    */
}
.agreement input[type="checkbox"]{
    width: 12px ;height: 12px;
}
.agreement a{
    color: #999;
    font-size: 12px;
}
.agreement a:hover{
    color: #3f200f;
}
.agreement a i , .agreement a b{
    font-size: 12px;
    /* border: 1px solid red;  */
}

.register-reg{
    display: none;
}
.login-reg{
    /* display: none; */
}
.reg_finish .register_hd{
    /* border: 1px solid red; */
    font-weight: normal;
    background-color: #F5F5F5;
    height: 57px;
    line-height: 57px;
    font-size: 18px;
    width: 340px; 
     border-radius: 5px 5px 0 0;
    margin: 0 auto;
    color: #666;
    text-align: left;
    padding-left: 30px;
}
.bg_login .reg_finish{
    padding-top: 0;
  
}
.reg_finish .login_reg {
    visibility: hidden;
}
.reg_finish h6{ 
    /* background: red; */
    vertical-align: bottom;
}
.reg_finish .register_updateYZM{ 
    width: 120px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #f2f2f2; 
    margin-left: 32px;margin-top: 16px;
    text-align: center;
}
.register_updateYZM img{
    display: inline-block;
    width: 120px;
    height: 40px;
    background: yellow;
}
.reg_finish .imgCode{
    width: 170px;
    height: 42px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 0 6px 12px;
    margin-left: 14px;
    margin-top: 16px;
}
.reg_finish input[type="submit"]{
    font-weight: bold;
}
.bg_login .reg_finish{
    padding-bottom: 50px;
}
 
