/* 版心 */
.z-contant {
    width: 1271px;
    background: #ffffff;
    margin: 0 36px;
}

/* 媒体 */
.z-fouc {
    margin: 105px 0 101px 518px;
}

.z-fouc h2 {
    font-size: 25px;
    color: #e1251b;
}

.z-fouc p {
    font-size: 29px;
    color: #e3251b;
    margin: 37px 0 0 33px;
}

/* 图片区域 */
.z-message {
    width: 295px;
    height: 347px;
    background: #f2f2f2;
}

.z-contant ul li {
    margin-right: 20px;
    margin-bottom: 50px;
    width: 23%;
}

/* 图片上面内容 */
.z-date p {
    font-size: 22px;
    color: #808080;
    margin: 33px 0 0 30px;
}

.z-date span {
    color: #808080;
    margin: 40px 29px 0 0;
}

h3 {
    font-size: 12px;
    color: #808080;
    margin: 68px 0 50px -55px;
}
li .z-message:hover{
    background: red;
   
}
li .z-message .z-pic img{
    transition: all 1.5s;
}
li .z-message .z-pic img:hover{
    transform: scale(1.02,1.02);
}