@charset "utf-8";

.l_container{
    margin-top: 80px;
}
/* 广告图banner区域 */
.l_banner{
    background: url(../img/onlineMall_banner.jpg) no-repeat center;
    background-size: cover;
    height: 296px;
}


.l_content{
    padding: 0 40px;
}
/* 中文和英文大标题，线上商城 */
.l_title{
    text-align: center;
    padding: 79px 0 58px 0;
}
.l_title h1{
    line-height: 63px;
    color: #e1251b;
    font-size: 32px;
}
.l_title p{
    line-height: 67px;
    color: #e1251b;
    font-size: 30px;
}
/* 商城链接入口的样式 */
.l_links{
    height: 450px;
    display: flex;
    justify-content: space-between;
}

