@charset "utf-8";

.l_container{
    margin-top: 80px;
}
/* 广告图banner区域 */
.l_banner{
    background: url(../img/stores_banner.jpg) no-repeat center;
    background-size: cover;
    height: 296px;
}


.l_content{
    padding: 0 40px;
}
/* 中文和英文大标题，全国门店 */
.l_title{
    text-align: center;
    padding: 79px 0 58px 0;
}
.l_title h1{
    line-height: 63px;
    color: #e1251b;
    font-size: 32px;
}
.l_title p{
    line-height: 67px;
    color: #e1251b;
    font-size: 30px;
}
/* 地图的搜索框区域 */
.l_search{
    height: 90px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.l_search span{
    font-size: 20px;
    color: #808080;
    margin-right: 20px;
}
.l_search input{
    font-size: 16px;
    color: #757575;
    width: 437px;
    height: 50px;
    background: #fff;
    border: none;
    padding: 15px;
    box-sizing: border-box;
}
.l_search i{
    width: 60px;
    height: 50px;
    display: block;
    color: #e1251b;
    background: #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: 900;
}
.l_search em{
    width: 50px;
    height: 50px;
    display: block;
    background: #e1251b;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin-left: 10px;
}
/* 链接地图API区域 */
.l_map{
    height: 600px;
}